<?xml version="1.0" ?>
<config>
    <admin>
        <routers>
            <centernews_admin>
                <use>admin</use>
                <args>
                    <module>Center_News</module>
                    <frontName>centernews_admin</frontName>
                </args>
            </centernews_admin>
        </routers>
    </admin>
    <adminhtml>
        <menu>
            <centernews module="centernews">
                <title>Home page categories</title>
                <sort_order>77</sort_order>
                <action>centernews_admin/adminhtml_news</action>
            </centernews>
        </menu>
    </adminhtml>
    <modules>
        <Center_News>
            <version>0.0.1</version>
        </Center_News>
    </modules>
    <frontend>
        <layout>
            <updates>
                <centernews>
                    <file>Center_News.xml</file>
                </centernews>
            </updates>
        </layout>
        <routers>
            <centernews>
                <use>standard</use>
                <args>
                    <module>Center_News</module>
                    <frontName>ds-news</frontName>
                </args>
            </centernews>
        </routers>
    </frontend>
    <global>
        <helpers>
            <centernews>
                <class>Center_News_Helper</class>
            </centernews>
        </helpers>
        <blocks>
            <centernews>
                <class>Center_News_Block</class>
            </centernews>
        </blocks>
        <models>
            <centernews>
                <class>Center_News_Model</class>
                <resourceModel>centernews_resource</resourceModel>
            </centernews>
            <centernews_resource>
                <class>Center_News_Model_Resource</class>
                <entities>
                    <table_news>
                        <table>center_news_entities</table>
                    </table_news>
                </entities>
            </centernews_resource>
        </models>
        <resources>
            <centernews_setup>
                <setup>
                    <module>Center_News</module>
                </setup>
            </centernews_setup>
        </resources>
    </global>
</config>